  /* latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(../fonts/sourcesans.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 1.5;    
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;            
    background-color: #000;
}

@media all and (max-width: 1080px) {
    body {
        background-size: cover;
    }
}

@media all and (min-width: 1081px) {
    body {
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
}

a {
    color: #2850bd;
}

a:active {
    color: #2850bd;
}

a:hover {
    color: #ffffff;
}

a:visited {
    color: rgb(185, 185, 185);
}

input {    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

#add_todo {
    border: none;
    border-color: transparent;
    background-color: transparent;
    color: whitesmoke;
    width: 100%;
}

#add_todo:focus {
    background-color: rgba(32, 33, 46, 0.3);
}

.container {
    width: 100%;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.top {
    height: 40%;
}

.bottom {
    height: 20%;
    display: flex;
    flex-direction: row;
}
.bottom > div:first-child {
    flex: 1 1 auto;
}
.bottom > div:last-child {
    width: 600px;
}

#datetime {    
    color: whitesmoke;    
}

#weeknumber {    
    color: whitesmoke;     
}

#datetimeContainer {    
    margin: auto;
    text-align: center;
}

/* hide mustaches during page load */
[v-cloak] {
    display: none;
}

.todo-item:hover {
    cursor: pointer;
}

/* This is the column that contains the todo list */
#todoCol {
    background:rgba(0,0,0,0.5);
    height: 40vh;
    margin-right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 6px;

    /* This is a Firefox-only property */
    scrollbar-color: rgba(39, 39, 39, 0.9) rgba(0,0,0,0.5);
}

/* where todoInput is located */
#footerRightCol {
    background:rgba(0,0,0,0.5);
    height: 3vh;
    margin-right: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0.25em;
}

#footerRightCol > input {
    font-size: 1em;
    caret-color: green;
}

#todo-list {
    color: whitesmoke;
    font-size: 1em;
    margin: 0;
    padding: 0.25em;
}

#todo-list li:nth-child(odd) {
    color: silver;
}

li {
    list-style-type: none;
    margin: 0;
}

li:hover {
    background-color: rgba(0,0,0,0.2);
    display: block;
}

li > input {
    border: none;
    border-color: transparent;
    background-color: transparent;
    width: 100%;
    font-size: 1em;
    caret-color: green;
    color: whitesmoke;
}
